
   
body {
    background: radial-gradient(#66FCF1 3px, transparent 4px), radial-gradient(#66FCF1 3px, transparent 4px), linear-gradient(#0B0C10 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #66FCF1 75px,#66FCF1 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #66FCF1 76px, #66FCF1 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: #0B0C10;
    padding: 100px;
}

.center-div
{
  margin: 0 auto;
  max-width: 500px;
height: 45S0px;
  border-radius: 3px;
  color: #66FCF1;
  border: 10px solid;
  box-shadow: 5px 10px #66FCF1;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
#head{
    text-align: center;
  font-size: 4em;


}
.container{
    font-size: 2em;
    padding: 10px;
   
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;

  }
  

  button {
    background-color: white;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 50%;
    color: black;
    text-align: center;
  }
  
  button:hover {
    opacity: 0.8;
    background-color: #66FCF1;
  }
#psw{
   text-align: center;
    font-size: 0.5em;
}
#btn{
    margin: auto;
    text-align: center;
}